<%- model_class = ShoppingList -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:product) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
 <% @shopping_list.each do |shopping_list| %>
      <tr>
        <td><%= shopping_list.product.name %></td>
        <td><%= shopping_list.product.price %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        site_establishment_shopping_list_path(id: shopping_list.id),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
</tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              site_establishment_shopping_lists_path, :class => 'btn btn-default'  %>
