<!-- MODAL LOGIN-->

     <div class="modal fade login" id="loginModal">
          <div class="modal-dialog login animated">
              <div class="modal-content">
                 <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Entrar</h4>
                    </div>
                    <div class="modal-body">  
                        <div class="box">
                             <div class="content">
                                <div class="social">
                                    <a class="circle github" href="/auth/github">
                                        <i class="fa fa-github fa-fw"></i>
                                    </a>
                                    <a id="google_login" class="circle google" href="/auth/google_oauth2">
                                        <i class="fa fa-google-plus fa-fw"></i>
                                    </a>
                                    <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                      <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="error"></div>
                                
                                <%= simple_form_for(resource,:html => { :class => 'form-vertical' }, as: resource_name, url: session_path(resource_name)) do |f| %>
									    <div class="row form-group">
                      					  <div class="col-md-12">
									    	<%= f.label :email %>
									    	<%= f.input_field :email, required: false, autofocus: true,  class: "form-control"%>
									    	</div>
									    </div>	
									    <div class="row form-group">
                      					  	<div class="col-md-12">
									    		<%= f.label :password, label: "Senha"%>
									    		<%= f.input_field :password, required: false, class: "form-control" %>
									    	</div>
									    </div>
									  
                      
                     					<div class="row form-group">
                        					<div class="col-md-12">
									    		<%= f.button :submit, "Log in" , class: "btn-primary" %>
											</div>
										</div>
								<% end %>
                             </div>
                        </div>
                    </div>
                    <!--<div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Looking to 
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Already have an account?</span>
                             <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>-->        
              </div>
          </div>
      </div>
<!--END-->